<!DOCTYPE html>
<html>

<head>
    <title>Сайт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
    <form method="post" action="test">
        <p>
            <b>Ваше ім'я:</b>
            <input type="text" maxlength="25" size="25" name="first_name">
        </p>

        <p>
            <b>Ваше прізвище:</b>
            <input type="text" maxlength="25" size="25" name="last_name">
        </p>

        <p>
            <b>Інформація про себе:</b>
            <textarea name="about"> </textarea>
        </p>

        <p><b>Переважна палітра кольорів:</b> </p>
        <p><input type="radio" name="gender" value="1">Яскраві кольори</p>
        <p><input type="radio" name="gender" value="2">Пастельні кольори</p>

        <p><b>Виберіть дату:</b> <input type="date" name="calendar"></p>
        <p><b>Виберіть бажаний час:</b> <input type="time" name="time" value="00:00"></p>

        <p>
            <b>Виберіть місто:</b>
            <select name="cites">
                <option value="Київ">Київ</option>
                <option value="Одеса">Одеса</option>
                <option value="Львів">Львів</option>
                <option value="Миколаїв">Миколаїв</option>
                <option value="Луцьк">Луцьк</option>
                <option value="Рівне">Рівне</option>
            </select>
        </p>

        <p><b>Хотіли б бачити у себе на сайті ці кольори (позначте галочкою, якщо "так"):</b></p>
        <p><input type="checkbox" name="color" value="Білий">Білий</p>
        <p><input type="checkbox" name="color" value="Чорний">Чорний</p>
        <p><input type="checkbox" name="color" value="Фіолетовий">Фіолетовий</p>
        <p><input type="checkbox" name="color" value="Жовтий">Жовтий</p>
        <p><input type="checkbox" name="color" value="Червоний">Червоний</p>


        <p><b>Вкажіть основний колір:</b> <input type="color" name="сolor" value="#ff0000"></p>


        <p>
            <input type="submit" value="Відправити">
            <input type="reset" value="Очистити">
        </p>


    </form>
</body>

</html>